@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    outline: none;
    font-size: 14px;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #342c5d;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 0;
}

ul, ol, p {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

input:required:invalid {
    border: 1px solid red;
}

.container {
    width: 1156px;
    margin: 0 auto;
}