.header {
    padding: 27px 64px 75px 64px;
}

.header_block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_button {
    border-radius: 22px;
    box-shadow: 0px 3px 5.94px 0.06px rgba(84, 52, 245, 0.11);
    padding: 3px 23px 3px 3px;
    color: #4e2df1;
}

.header_button > span {
    display: inline-grid;
    place-items: center;
    margin-right: 16px;
    color: #fff;
    width: 40px;
    height: 40px;
    background: #4e2df1;
    border-radius: 50%;
    font-size: 20px;
}

.header_name {
    margin-left: 4px;
    color: #342c5d;
    font-size: 14px;
    font-weight: 500;
}

.header_profile {
    display: flex;
    align-items: center;
}

.header_notification {
    margin-right: 35px;
}

.header_fullname {
    display: flex;
    align-items: center;
    margin-right: 13px;
}

.header_arrow {
    margin-left: 13px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 4px 3.5px 0 3.5px;
    border-color: #ada9c3 transparent transparent transparent;
}

.header_avatar {
    position: relative;
}

.header_avatar::after {
    content: '';
    display: inline-block;
    width: 8px;
    height: 8px;
    background: #2ae69e;
    position: absolute;
    bottom: 4px;
    right: 0;
    border-radius: 50%;
    border: 1px solid #fff;
}

.main {
    padding: 0px 64px 100px 64px;
}

.main_heading {
    color: #342c5d;
    font-size: 28px;
    margin-bottom: 10px;
}

.main_text {
    color: #8b86a8;
    margin-bottom: 50px;
}

.main_block {
    padding: 63px 41px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 0px rgba(172, 158, 245, 0.23);
    margin-bottom: 20px;
}

.main_topline {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.main_topline > div {
    display: flex;
    align-items: center;
}

.main_count {
    margin-right: 75px;
}

.main_count > span {
    margin-left: 7px;
    color: #4e2df1;
}

.main_filter {
    display: flex;
    align-items: center;
}

.main_filter > input {
    margin-right: 10px;
}

.main_filter > p {
    color: #8b86a8;
}

.main_button {
    margin-right: 36px;
    padding: 18px 25px;
    border-radius: 30px;
    color: #fff;
    background: #4e2df1;
}

.main_search > input {
    padding: 16px 25px;
    border-radius: 10px;
    text-transform: uppercase;
    border: 1px solid #e4e4e4;
}

.main_title {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1.5fr 4fr;
    column-gap: 70px;
    margin-bottom: 20px;
}

.main_title > h3 {
    color: #8b86a8;
}

.main_title > h3 > span {
    margin-left: 10px;
}

.main_title > h3 > span > img {
    transform: rotate(-90deg);
}

.main_item {
    display: grid;
    grid-template-columns: repeat(3, 1fr) 1.5fr 4fr;
    align-items: center;
    column-gap: 70px;
    margin-bottom: 20px;
}

.main_item:last-child {
    margin-bottom: 0;
}

.main_amount {
    display: flex;
}

.main_budget {
    display: flex;
    position: relative;
}

.main_budget > select {
    border: none;
    border-right: 1px solid #e4e4e4;
    margin-right: 5px;
    padding-right: 5px;
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.main_budget > input {
    width: 100%;
    display: inline-block;
    padding: 10px;
    padding-left: 50px;
    border-radius: 10px;
    border: 1px solid #e4e4e4;
}

.main_budget > input:focus {
    border: 1px solid #4e2df1;
}

.main_amount > p {
    display: flex;
    flex-direction: column;
    margin-right: 70px;
}

.main_amount > p > span {
    font-size: 12px;
    color: #8b86a8;
}

.main_amount > button {
    display: flex;
    align-items: center;
    color: #4e2df1;
}

.main_amount > button > span {
    display: inline-grid;
    place-items: center;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #4e2df1;
    color: #fff;
    margin-right: 5px;
}

/* .main_amount > button:last-child {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #e4e4e4;
    margin-left: 15px;
} */

.main_amount > a {
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #e4e4e4;
    margin-left: 15px;
}

.main_pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main_view {
    color: #8b86a8;
}

.main_view > select {
    box-shadow: 0px 0px 3px 0px rgba(172, 158, 245, 0.43);
    margin: 0 10px;
    border: none;
    padding: 8px 5px 8px 8px;
    border-radius: 5px;
}

.main_pages > button {
    padding: 10px 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(172, 158, 245, 0.43);
}

.main_next > img {
    transform: rotate(180deg);
}

.scene {
    display: flex;
}

.scene_logo {
    padding: 34px 40px 80px 40px;
}

.scene_list > a {
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 15px 0;
    padding-left: 40px;
}

.scene_list > a:hover {
    color: #4e2df1;
    border-left: 3px solid #4e2df1;
}

.scene_list > a > img {
    margin-right: 30px;
}

.scene_changed {
    padding-left: 15px;
}

.scene_changed > a {
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    width: 100%;
    padding: 22px;
    color: #8b86a8;
}

.scene_changed > a:hover {
    background: #4e2df1;
    color: #fff;
}

.scene_changed > a > img {
    margin-right: 30px;
}

.scene_call {
    padding: 34px 0px 50px 40px;
}

.scene_contacts {
    padding: 30px 20px;
    border-radius: 20px;
    border: 1px solid #e4e4e4;
}

.scene_contacts > h3 {
    display: flex;
    align-items: flex-start;
    color: #4e2df1;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.scene_contacts > h3 > img {
    margin-right: 20px;
    transform: translateY(7px);
}

.scene_number {
    margin-bottom: 15px;
}

.scene_number > p {
    color: #8b86a8;
}

.scene_number > a {
    color: #342c5d;
}

.scene_switch {
    margin-right: 10px;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.scene_switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.scene_slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.scene_slider:before {
    position: absolute;
    content: '>';
    display: grid;
    place-items: center;
    color: #a8a4bd;
    font-size: 18px;
    height: 30px;
    width: 30px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

input:checked + .scene_slider {
    background-color: #2ae69e;
}

input:focus + .scene_slider {
    box-shadow: 0 0 1px #2ae69e;
}

input:checked + .scene_slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px) rotate(180deg);
}

.scene_slider.round {
    border-radius: 34px;
}

.scene_slider.round:before {
    border-radius: 50%;
}

.scene_collapse {
    padding: 34px 0px 50px 40px;
    display: flex;
    align-items: center;
}

.scene_collapse > p {
    color: #8b86a8;
}

.scene_copyright {
    padding: 34px 0px 50px 40px;
    color: #8b86a8;
}

.inner_heading {
    color: #342c5d;
    font-size: 28px;
    margin-bottom: 10px;
}

.inner_text {
    color: #8b86a8;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.inner_text > span {
    color: #342c5d;
}

.inner_info {
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(172, 158, 245, 0.43);
    margin-bottom: 50px;
}

.inner_info > h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    color: #4e2df1;
    margin-bottom: 30px;
}

.inner_grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.inner_item > h4 {
    color: #8b86a8;
    margin-bottom: 10px;
}

.inner_item > p {
    text-transform: uppercase;
}

.inner_item > p > img {
    margin-left: 20px;
}

.inner_export {
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner_export {
    margin-bottom: 30px;
}

.export_heading {
    font-size: 16px;
    font-weight: bold;
}

.export_heading > span {
    font-size: 20px;
    color: #4e2df1;
    font-weight: bold;
}

.export_text {
    color: #8b86a8;
    margin-bottom: 10px;
}

.export_entries {
    font-weight: bold;
}

.export_buttons > button {
    display: inline-flex;
    align-items: center;
    padding: 20px 30px;
    border: 1px solid #4e2df1; 
    border-radius: 50px;
    color: #4e2df1;   
}

.export_buttons > button:first-child {
    margin-right: 20px;
}

.export_buttons > button > img {
    margin-left: 20px;
}

.inner_expense1 {
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(172, 158, 245, 0.43);
}

.expense_heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.expense_heading > span {
    display: flex;
    align-items: center;
    color: #4e2df1;
    font-weight: bold;
}

.expense_heading > span > button {
    margin-left: 60px;
}

.expense_form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    margin-bottom: 40px;
}

.expense_input {
    position: relative;
}

.expense_input > input {
    padding: 15px 20px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    width: 100%;
}

.expense_input > input:focus {
    border: 1px solid #998ee1;
}

.expense_input > label {
    text-transform: uppercase;
    background: #fff;
    padding: 5px 8px;
    color: #ada9c3;
    font-size: 12px;
    position: absolute;
    top: -14px;
    left: 10px;
}

.expense_input > img {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.expense_input > select {
    padding: 15px 20px;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    width: 100%;
}

.expense_input > select:focus {
    border: 1px solid #998ee1;
}

.expense_fuel {
    display: grid;
    grid-template-columns: 30% 70%;
    column-gap: 20px;
    padding-bottom: 40px;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 50px;
}

.expense_form.column {
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.fuel_map {
    width: 100%;
    height: 100%;
}

.fuel_heading {
    margin-bottom: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
}

.expense_form.template {
    grid-template-columns: 0.6fr 0.3fr 1fr 1fr;
}

.expense_form.template > button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #4e2df1; 
    border-radius: 50px;
    color: #4e2df1; 
}

.expense_form.template > button > img {
    margin-left: 25px;
}

.inner_add {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(172, 158, 245, 0.43);
    margin: 20px 0;
}

.inner_add > span {
    display: inline-block;
    width: 50%;
    height: 1px;
    background: #e5e5e5;
}

.inner_add > button {
    display: inline-block;
    width: 27px;
    height: 27px;
    background: #4e2df1;
    border-radius: 50%;
    color: #fff;
    font-size: 18px;
}

.inner_buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 40px;
}

.buttons_closed {
    display: inline-flex;
    align-items: center;
    padding: 20px 30px;
    border: 1px solid #e92a30; 
    border-radius: 50px;
    color: #e92a30;
}

.buttons_submit {
    display: inline-flex;
    align-items: center;
    padding: 20px 30px;
    background: #4e2df1;
    border-radius: 50px;
    color: #fff;
}

.trip_heading > h2 {
    color: #342c5d;
    font-size: 28px;
    margin-bottom: 10px;
}

.trip_heading > p {
    color: #8b86a8;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.trip_heading > p > span {
    color: #342c5d;
}

.trip_topline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.trip_call {
    display: flex;
    align-items: center;
}

.trip_call > p {
    font-size: 14px;
    margin-right: 50px;
}

.trip_call > button {
    width: 60px;
    height: 60px;
    display: grid;
    place-items: center;
    background: #342c5d;
    border-radius: 50%;
}

.trip_call > button:last-child {
    background: #2ae69e;
    margin-left: 10px;
}

.trip_img {
    background: url(./../assets/images/trip.png) 0 0 no-repeat;
    background-size: cover;
    padding: 20px 40px;
    border-radius: 15px;
    margin-bottom: 20px;
}

.img_heading {
    color: #fff;
}

.img_heading > h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.img_top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.img_tablo {
    display: flex;
}

.img_tablo > button {
    height: 50px;
    width: 50px;
    background: #fff;
    display: grid;
    place-items: center;
    border-radius: 10px;
    margin-right: 40px;
}

.img_time {
    background: #fff;
    padding: 27px 50px;
    border-radius: 10px;
} 

.img_time > p {
    font-size: 30px;
    text-align: center;
}

.img_head {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 24px;
}

.img_head > p {
    font-size: 10px;
    text-transform: uppercase;
    color: #8b86a8;
    text-align: center;
}

.img_button {
    width: 170px;
    height: 60px;
    border-radius: 50px;
    background: #4e2df1;
    color: #fff;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.img_button > img {
    margin-right: 16px;
}

.trip_detail {
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(172, 158, 245, 0.43);
    margin-bottom: 20px;
}

.trip_detail > h2 {
    font-size: 18px;
    color: #4e2df1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.detail_block {
    display: grid;
    grid-template-columns: repeat(4, 25%);
    column-gap: 20px;
    row-gap: 20px;
}

.detail_title {
    font-size: 10px;
    color: #a8a4bd;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.detail_title > img {
    margin-right: 10px;
}

.detail_heading {
    font-size: 20px;
    margin-bottom: 10px;
}

.detail_heading > span {
    margin-left: 30px;
}

.detail_item > a {
    display: inline-block;
    margin-top: 20px;
    font-size: 12px;
    color: #4e2df1;
    text-decoration: underline;
}

.trip_list {
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(172, 158, 245, 0.43);
    margin-bottom: 20px;
}

.trip_list > h2 {
    font-size: 18px;
    color: #4e2df1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.list_title {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 70px;
    margin-bottom: 40px;
}

.list_title > h3 {
    font-weight: normal;
    color: #8b86a8;
}

.list_item {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 70px;
    margin-bottom: 20px;
}

.list_item > p:last-child {
    text-align: right;
}

.trip_flight {
    padding: 30px 40px;
    border-radius: 5px;
    box-shadow: 0px 0px 3px 0px rgba(172, 158, 245, 0.43);
    margin-bottom: 20px;
}

.trip_flight > h2 {
    font-size: 18px;
    color: #4e2df1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
}

.flight_topline {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #e6e5ed;
    margin-bottom: 60px;
}

.topline_info {
    display: flex;
    margin-right: 35px;
}

.topline_item {
    margin-right: 35px;
    text-align: center;
}

.topline_item:first-child {
    text-align: right;
}

.topline_item:last-child {
    text-align: left;
    margin-right: 0;
}

.topline_item > h3 {
    font-size: 24px;
}

.topline_item > p {
    font-size: 12px;
    color: #8b86a8;
}

.topline_item > p > span {
    font-size: 12px;
    color: #342c5d;
    font-weight: bold;
}

.crit_weight {
    display: flex;
    align-items: center;
}

.crit_weight > p {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-bottom: 15px;
}

.crit_weight > p > span {
    font-size: 12px;
}

.crit_ticket > a {
    font-size: 12px;
    color: #4e2df1;
    margin-left: 10px;
    text-decoration: underline;
}

.topline_price {
    text-align: center;
}

.topline_price > h3 {
    font-size: 25px;
    color: #4e2df1;
}

.topline_price > p {
    text-transform: uppercase;
    font-size: 10px;
    color: #8b86a8;
}

.flight_item {
    display: flex;
    align-items: center;
}

.flight_title {
    margin-right: 27px;
}

.flight_main > h3 {
    padding-left: 90px;
    margin-bottom: 35px;
}

.flight_main > h3 > img {
    margin-right: 10px;
}

.flight_main > h3 > span {
    display: inline-block;
    padding-bottom: 3px;
    color: #8b86a8;
    border-bottom: 1px solid #8b86a8;
}

.dots_start {
    display: inline-block;
    height: 13px;
    width: 13px;
    border: 1px solid #8b86a8;
    border-radius: 50%;
}

.dots_start:first-child {
    margin-bottom: 11px;
}

.dots_center {
    display: inline-block;
    width: 5px;
    height: 5px;
    background: #8b86a8;
    border-radius: 50%;
    margin-bottom: 11px;
}

.flight_time {
    display: flex;
    align-items: stretch;
}

.flight_dots {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 13px;
}

.time_info > p {
    color: #a8a4bd;
}

.time_info > h3 > span {
    color: #e92a30;
}

.flight_stop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    padding-left: 125px;
}

.flight_stop > h3 {
    display: flex;
    border-bottom: 1px solid #e6e5ed;
    border-top: 1px solid #e6e5ed;
    padding: 25px 0;
    position: relative;
    color: #4e2df1;
}

.flight_stop > h3 > span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #4e2df1;
    border: 6px solid #e6e1fe;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: -30px;
    transform: translateY(-50%);
    font-size: 12px;
}

.flight_stop > h3 > p {
    margin-left: 20px;
    color: #342c5d;
}

.flight_warning {
    color: #e92a30;
    font-size: 10px;
}

.flight_item.bb {
    padding-bottom: 70px;
    border-bottom: 1px solid #e6e5ed;
    margin-bottom: 35px;
}

.flight_check {
    display: flex;
    align-items: center;
}

.flight_check > p {
    margin-right: 40px;
    color: #8b86a8;
}

.flight_check > h3 > span {
    color: #8b86a8;
    margin-right: 40px;
}

.flight_check > button {
    width: 140px;
    height: 45px;
    background: #c2bfce;
    border-radius: 15px;
    display: grid;
    place-items: center;
    color: #fff;
    font-size: 12px;
}

.hotel_block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 1px solid #e6e5ed;
}

.hotel_heading {
    font-size: 20px;
    margin-bottom: 5px;
}

.hotel_stars {
    color: #a8a4bd;
    font-size: 12px;
    margin-bottom: 5px;
}

.hotel_location {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.hotel_location > img {
    margin-right: 5px;
}

.hotel_buttons {
    display: flex;
}

.hotel_buttons > p {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #4e2df1;
}

.hotel_buttons button {
    display: grid;
    place-items: center;
    width: 42px;
    height: 42px;
    background: #4e2df1;
    border-radius: 50%;
    margin-bottom: 7px;
}

.hotel_check > p:first-child {
    color: #ada9c3;
    margin-bottom: 5px;
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 10px;
}

.hotel_check > p:last-child {
    padding: 17px 33px 17px 20px;
    border: 1px solid #e4e4e4;
    border-radius: 30px;
    font-size: 12px;
}

.hotel_info > p {
    font-size: 10px;
    color: #a8a4bd;
}

.hotel_info > p > span {
    margin-left: 30px;
    color: #342c5d;
    font-size: 12px;
}

.hotel_info > p > a {
    margin-left: 26px;
    font-size: 12px;
    border-bottom: 1px solid #dfd8ff;
}

.hotel_price > p {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #4e2df1;
}

.hotel_price > p > span {
    display: inline-block;
    margin-top: 5px;
    color: #a8a4bd;
    text-transform: uppercase;
}

.hotel_pros {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.hotel_pros > p {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #a8a4bd;
}

.hotel_pros > p > img {
    margin-right: 25px;
}

.car_title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.car_title > div {
    display: flex;
}

.title_heading {
    font-size: 20px;
    margin-right: 90px;
}

.title_text > p:first-child {
    font-weight: bold;
    font-size: 16px;
}

.title_text > p:first-child > span {
    font-weight: bold;
    font-size: 12px;
}

.title_text > p:last-child {
    color: #a8a4bd;
    font-size: 12px;
}

.title_price {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    color: #4e2df1;
}

.title_price > span {
    display: inline-block;
    margin-top: 5px;
    color: #a8a4bd;
    text-transform: uppercase;
}

.car_main {
    display: flex;
    padding-bottom: 50px;
    border-bottom: 1px solid #e6e5ed;
}

.car_image {
    margin-right: 75px;
}

.car_date {
    display: flex;
}

.car_item > h3 {
    color: #4e2df1;
    margin-bottom: 25px;
    padding-left: 20px;
}

.date_item {
    margin-right: 10px;
}

.date_item:last-child {
    margin-right: 0;
}

.date_item > p {
    color: #ada9c3;
    margin-bottom: 5px;
    text-transform: uppercase;
    padding-left: 20px;
    font-size: 10px;
}

.date_item > span {
    display: inline-block;
    padding: 17px 33px 17px 20px;
    border: 1px solid #e4e4e4;
    border-radius: 30px;
    font-size: 12px;
    color: #342c5d;
}

.car_extra {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.extra_item {
    display: flex;
}

.extra_item > p {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #a8a4bd;
}

.extra_item > p > img {
    margin-right: 15px;
}

.car_extra > p {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #a8a4bd;
}

.car_extra > p > span {
    font-size: 12px;
}

.car_extra > p > span > a {
    margin-left: 10px;
    font-size: 12px;
    border-bottom: 1px solid #dfd8ff;
}

.trip_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 90px;
}

.buttons_rebook {
    display: inline-flex;
    align-items: center;
    padding: 15px 50px;
    border: 1px solid #4e2df1;
    border-radius: 40px;
    color: #4e2df1;
    margin-right: 25px;
}

.buttons_cancel {
    display: inline-flex;
    align-items: center;
    padding: 15px 50px;
    border: 1px solid #e92a30; 
    border-radius: 50px;
    color: #e92a30;
}